/* Body Reset */
body {
    margin: 0;
    padding: 0;
}

/* Image Defaults */
img {
    max-width: 100%;
    height: auto;
}

/* Main Container Styling */
main {
    max-width: 840px;
    margin: 0 auto;
}

/* Profile Image Styling */
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

/* Paragraph Reset */
p {
    padding: 0;
}

/* Navigation Bar Styling */
nav {
    margin: 0 0 1rem 0;
    background-color: #007BFF;
    padding: 0.5rem;
}

/* Navigation Link Styling */
nav a {
    margin-right: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

/* Heading Styling */
h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
    padding-left: 1rem;
}

/* Sidebar Styling */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Sidebar Image Styling */
aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 0.5em;
}

/* Footer Styling */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 0.5em;
}